@font-face {
  font-family: "Raleway";
  src: url(https://fonts.googleapis.com/css?family=Raleway);
  font-weight: 500 700;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6745098039), rgba(0, 0, 0, 0.6745098039)), url("./assets/pexels-chris-f-1283219.jpg");
  background-size: cover;
  background-position: center;
  color: #E3DDDD;
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  overflow: hidden;
  display: block;
}
body p {
  font-family: "Raleway";
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
  color: #E3DDDD;
}
body h3 {
  font-family: "Raleway";
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
  color: #E3DDDD;
}
body h4 {
  font-family: "Raleway";
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  color: #E3DDDD;
}
body .chat-container {
  position: absolute;
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(97, 87, 86, 0.5019607843);
  border-radius: 1rem;
  height: 95vh;
  width: 50vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
body .chat-container .banner {
  width: calc(100% - 1rem);
  aspect-ratio: 16/4.1;
  margin: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2509803922);
}
body .chat-container .title {
  font-size: 2rem;
  margin: 0;
}
body .chat-container .scroll-container {
  width: calc(100% - 2rem);
  flex-grow: 1;
  overflow: hidden auto;
  padding: 1rem 1rem 10vh 1rem !important;
}
body .chat-container .scroll-container .bot-message-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-bottom: 1rem;
}
body .chat-container .scroll-container .bot-message-row .message-container {
  background-color: #211D1C;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2509803922);
}
body .chat-container .scroll-container .user-message-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: end;
  margin-bottom: 1rem;
}
body .chat-container .scroll-container .user-message-row .message-container {
  background-color: #34434A;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2509803922);
}
body .chat-container .scroll-container .recipe-container {
  width: 100%;
  max-height: 162px;
  display: block;
  padding: 0;
  background: #211D1C;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2509803922);
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all 333ms ease-out;
  overflow: hidden !important;
}
body .chat-container .scroll-container .recipe-container .recipe-header {
  width: 100%;
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem;
  background-color: #34434A;
  border: none;
  text-align: start;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5019607843);
  transition: box-shadow 150ms;
}
body .chat-container .scroll-container .recipe-container .recipe-header:hover {
  box-shadow: 4px 4px 16px #0f5a93;
}
body .chat-container .scroll-container .recipe-container .recipe-header:active {
  box-shadow: 2px 2px 8px #0f5a93;
}
body .chat-container .scroll-container .recipe-container .recipe-header:disabled {
  box-shadow: none;
  background-color: transparent;
}
body .chat-container .scroll-container .recipe-container .recipe-header .recipe-img {
  flex-basis: 25% !important;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  max-width: calc(25% - 0.25rem);
}
body .chat-container .scroll-container .recipe-container .recipe-detail-body {
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
}
body .chat-container .scroll-container .recipe-container .recipe-detail-body p {
  margin-bottom: 0.5rem;
}
body .chat-container .scroll-container .recipe-container:has(.recipe-header[data-selected=true]:disabled) {
  overflow: hidden auto !important;
  max-height: 512px;
  height: 512px;
}
body .chat-container .scroll-container .recipe-container:has(.recipe-header[data-selected=true]:disabled) .recipe-detail-body {
  max-height: 100% !important;
  padding: 1rem !important;
}
body .chat-container .scroll-container .recipe-container:has(.recipe-header:not([data-selected=true]):disabled) {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 0;
}
body .send-form {
  flex-grow: 0;
  width: calc(100% - 2rem);
  display: flex;
  flex-flow: row;
  gap: 1rem;
  padding: 1rem;
}
body .send-form .message-input {
  flex-grow: 1;
  min-width: 8rem;
  height: 100%;
  color: #E3DDDD;
  background: #34434A;
  border-radius: 0.5rem;
  border: none;
  padding: 0 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5019607843);
  font-size: 1.5rem;
  transition: all 150ms;
}
body .send-form .message-input:hover {
  box-shadow: 4px 4px 16px #0f5a93;
  background-color: #34434A;
}
body .send-form .message-input:active {
  box-shadow: 2px 2px 8px #0f5a93;
  background-color: #34434A;
}
body .send-form .message-input:focus-visible {
  box-shadow: 2px 2px 8px #0f5a93;
  background-color: #34434A;
  outline: none !important;
}
body .send-form .send-button {
  aspect-ratio: 1/1;
  padding: 0.5rem;
  background: #34434A;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5019607843);
  will-change: box-shadow, background-color;
  transition: all 150ms;
}
body .send-form .send-button:hover {
  box-shadow: 4px 4px 16px #0f5a93;
  background-color: #34434A;
}
body .send-form .send-button:active {
  box-shadow: 2px 2px 8px #0f5a93;
  background-color: #34434A;
}
body .send-form .send-button .send-button-image {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  background-size: auto;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */